n8n/whatsapp-brief.json
{
  "name": "WhatsApp Brief",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-get-webhook",
      "name": "WhatsApp GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 160],
      "webhookId": "royal-dispatch-whatsapp-get"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "={{ $env.WHATSAPP_VERIFY_TOKEN }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "node-token-check",
      "name": "Token Matches?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 160]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "text/plain" }]
          },
          "responseBody": "={{ $('WhatsApp GET').first().json.query['hub.challenge'] }}"
        }
      },
      "id": "node-respond-200",
      "name": "Respond 200 Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 80]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "text/plain" }]
          },
          "responseBody": "Forbidden"
        }
      },
      "id": "node-respond-403",
      "name": "Respond 403 Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 240]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-post-webhook",
      "name": "WhatsApp POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 440],
      "webhookId": "royal-dispatch-whatsapp-post"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ !!$json.body?.entry?.[0]?.changes?.[0]?.value?.messages?.length }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "node-guard",
      "name": "Guard: Has Messages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].from }}",
              "rightValue": "={{ $env.PARENT_PHONE_NUMBER }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "node-sender-filter",
      "name": "Sender Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 440]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "text",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "outputKey": "text"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
                    "rightValue": "audio",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "outputKey": "audio"
            }
          ]
        },
        "fallbackOutput": "none"
      },
      "id": "node-type-switch",
      "name": "Message Type Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 440]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/brief",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Sender Filter').first().json.body.entry[0].changes[0].value.messages[0].text.body }) }}",
        "options": {}
      },
      "id": "node-post-brief-text",
      "name": "Post Brief (text)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 360]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $('Sender Filter').first().json.body.entry[0].changes[0].value.messages[0].audio.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-fetch-media-url",
      "name": "Fetch Media URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 520],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-cred-id",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "node-download-binary",
      "name": "Download Media Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 520],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-cred-id",
          "name": "WhatsApp Cloud API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data",
              "options": {
                "filename": "audio.ogg",
                "contentType": "audio/ogg"
              }
            },
            {
              "name": "model",
              "value": "whisper-1"
            }
          ]
        },
        "options": {}
      },
      "id": "node-whisper",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 520],
      "credentials": {
        "httpHeaderAuth": {
          "id": "openai-cred-id",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/brief",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Whisper Transcribe').first().json.text }) }}",
        "options": {}
      },
      "id": "node-post-brief-voice",
      "name": "Post Brief (voice)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 520]
    }
  ],
  "connections": {
    "WhatsApp GET": {
      "main": [
        [{ "node": "Token Matches?", "type": "main", "index": 0 }]
      ]
    },
    "Token Matches?": {
      "main": [
        [{ "node": "Respond 200 Challenge", "type": "main", "index": 0 }],
        [{ "node": "Respond 403 Forbidden", "type": "main", "index": 0 }]
      ]
    },
    "WhatsApp POST": {
      "main": [
        [{ "node": "Guard: Has Messages?", "type": "main", "index": 0 }]
      ]
    },
    "Guard: Has Messages?": {
      "main": [
        [{ "node": "Sender Filter", "type": "main", "index": 0 }],
        []
      ]
    },
    "Sender Filter": {
      "main": [
        [{ "node": "Message Type Switch", "type": "main", "index": 0 }],
        []
      ]
    },
    "Message Type Switch": {
      "main": [
        [{ "node": "Post Brief (text)", "type": "main", "index": 0 }],
        [{ "node": "Fetch Media URL", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Media URL": {
      "main": [
        [{ "node": "Download Media Binary", "type": "main", "index": 0 }]
      ]
    },
    "Download Media Binary": {
      "main": [
        [{ "node": "Whisper Transcribe", "type": "main", "index": 0 }]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [{ "node": "Post Brief (voice)", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "royal-dispatch"
  },
  "id": "royal-dispatch-whatsapp-brief",
  "tags": []
}
